* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  background-color: #f5f5f5;
}
#app {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}
.navbar-brand {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 2.063rem;
  color: #151517;
}
.navbar-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #2f2f2f;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.063rem 0 3.125rem;
}
.navbar-nav {
  display: flex;
  gap: 2.4rem;
}
.header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.875rem;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  color: #000000;
}
.dynamic-tabs .navbar-nav .nav-item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.375;
  display: flex;
  align-items: center;
  color: #828282;
}
.emphasize {
  color: #eebf63;
}
.media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.6rem;
  justify-items: center;
}
.img {
  width: 33.75rem;
  height: 23.75rem;
  border-radius: 1.563rem;
  margin: 3.875rem 0 1.875rem;
}
.img-title {
  margin-bottom: 0.625rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25;
  color: #1c1c1c;
}
.img-container .img-details {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}
.study-case,
.live-preview {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
.study-case,
.live-preview {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
ul {
  display: flex;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
